
:root {
  --white1: #fff;
}
html {
  font-family: 'Inter', sans-serif;
}
body {
  color: rgb(188, 190, 213);
  /* background: url(../public/2.jpg); */
  background: #1a1a1a;
  background-position: center center;
  background-size: cover;
  background-attachment: fixed;
}
img {
	max-width: 100%;
	object-fit: cover;
}
header {
  position: sticky;
  z-index: 99;
  top: 0;
}
h1,h2,h3,h4,h5,h6 {
  color: rgb(223, 223, 233);
}
.home-page {
  width: 100%;
  height: 100vh;
  position: relative;
}

.home-div {
  position: absolute;
  left: 50%;
  top: 50%;
  transform: translate(-50%, -50%);
  text-align: center;
}
.home-div p {
  color: #2c63e6;
  font-weight: 900;
  font-size: 20px;
}
.home-div h1 {
  font-size: 50px;
  font-weight: 700;
}

.emp-profile {
	padding: 60px !important;
	margin-top: 85px;
}

.emp-pro-pic img {
  width: 345px;
  margin-right: 50px;
  margin-bottom: 20px;
}
.profile-head h5 {
  font-size: 27px;
  margin-bottom: 7px;
}
.profile-head h6 {
  font-size: 17px;
  font-weight: 600;
  color: #0079e4;
}
.profile-head p {
  font-size: 14px;
  font-weight: 600;
  color: #000;
  margin-bottom: 50px;
}
.profile-head {
  padding-top: 20px;
}
.tab-pane .row .col-md-6:first-child {
  font-weight: 700;
}
.tab-pane .row {
  margin-bottom: 20px;
}
#myTabContent {
	margin-top: -135px;
}

.profile-edit-button {
	border: none;
	outline: none;
	background: #eee;
	padding: 5px 20px;
	border-radius: 40px;
	font-weight: 600;
	color: #484848;
}


#notfound {
  width: 100%;
  height: 100vh;
  position: relative;
}
.notfound {
  position: absolute;
  left: 50%;
  top: 50%;
  transform: translate(-50%, -50%);
  text-align: center;
}
.notfound-404 h1 {
  position: absolute;
  left: 50%;
  top: 32%;
  transform: translate(-50%, -53%);
  font-size: 300px;
  font-weight: 600;
  color: #0000001a;
  z-index: -1;
}
.notfound h2 {
  font-size: 46px;
  font-weight: 700;
  text-transform: uppercase;
  margin-bottom: 15px;
}
.notfound p {
  font-size: 17px;
  color: #000;
  text-transform: uppercase;
  max-width: 891px;
}
.notfound a {
  background: #0079e4;
  padding: 10px 20px;
  color: #fff;
  text-decoration: none;
  border-radius: 30px;
  margin-top: 15px;
  display: inline-block;
}
.notfound a:hover {
	color: #fff;
	background: #026cca;
}
.connect-btn {
  display: inline-flex;
  -webkit-box-align: center;
  align-items: center;
  -webkit-box-pack: center;
  justify-content: center;
  position: relative;
  box-sizing: border-box;
  -webkit-tap-highlight-color: transparent;
  outline: 0px;
  border: 0px;
  margin: 0px;
  cursor: pointer;
  user-select: none;
  vertical-align: middle;
  appearance: none;
  text-decoration: none;
  text-transform: none;
  font-family: Inter, sans-serif;
  font-weight: 500;
  font-size: 0.875rem;
  line-height: 1.75;
  transition: background-color 250ms cubic-bezier(0.4, 0, 0.2, 1) 0ms, box-shadow 250ms cubic-bezier(0.4, 0, 0.2, 1) 0ms, border-color 250ms cubic-bezier(0.4, 0, 0.2, 1) 0ms, color 250ms cubic-bezier(0.4, 0, 0.2, 1) 0ms;
  color: rgb(255, 255, 255);
  background-color: rgb(71, 75, 163);
  box-shadow: rgba(0, 0, 0, 0.2) 0px 3px 1px -2px, rgba(0, 0, 0, 0.14) 0px 2px 2px 0px, rgba(0, 0, 0, 0.12) 0px 1px 5px 0px;
  min-width: 120px;
  padding: 0.4rem 1.4rem;
  border-radius: 10px;
}
.connect-btn:hover {
  text-decoration: none;
  background-color: rgb(49, 52, 114);
  box-shadow: rgba(0, 0, 0, 0.2) 0px 2px 4px -1px, rgba(0, 0, 0, 0.14) 0px 4px 5px 0px, rgba(0, 0, 0, 0.12) 0px 1px 10px 0px;
}
.connect-btn:active {
  box-shadow: rgba(0, 0, 0, 0.2) 0px 5px 5px -3px, rgba(0, 0, 0, 0.14) 0px 8px 10px 1px, rgba(0, 0, 0, 0.12) 0px 3px 14px 2px;
}

.nav-three-dot {
  display: inline-flex;
  -webkit-box-align: center;
  align-items: center;
  -webkit-box-pack: center;
  justify-content: center;
  position: relative;
  box-sizing: border-box;
  -webkit-tap-highlight-color: transparent;
  background-color: transparent;
  outline: 0px;
  border: 0px;
  margin: 0px 0px 0px -4px;
  cursor: pointer;
  user-select: none;
  vertical-align: middle;
  appearance: none;
  text-decoration: none;
  text-align: center;
  flex: 0 0 auto;
  font-size: 1.5rem;
  border-radius: 50%;
  overflow: visible;
  color: rgba(0, 0, 0, 0.54);
  transition: background-color 150ms cubic-bezier(0.4, 0, 0.2, 1) 0ms;
  padding: 6px;
}

.nav-three-dot:hover {
  background-color: rgba(0, 0, 0, 0.04);
}


.header-wrapper {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
  padding: 10px 30px;
}
.nav-logo {
  display: flex;
  align-items: center;
  gap: 20px;
}
.navlogo a img {
  width: auto;
  height: 60px;
}
.nav-logo ul {
  padding: 0;
  margin: 0;
  list-style: none;
  display: flex;
  flex-direction: row;
  align-items: center;
}
.nav-logo ul li a {
	padding: 11px 22px;
	display: inline-block;
  color: rgb(111, 113, 131);
  transition: .3s ease;
}


#notfound {
  width: 100%;
  height: 100vh;
  position: relative;
}
.notfound {
  position: absolute;
  left: 50%;
  top: 50%;
  transform: translate(-50%, -50%);
  text-align: center;
}
.notfound-404 h1 {
  position: absolute;
  left: 50%;
  top: 32%;
  transform: translate(-50%, -53%);
  font-size: 300px;
  font-weight: 600;
  color: #0000001a;
  z-index: -1;
}
.notfound h2 {
  font-size: 46px;
  font-weight: 700;
  text-transform: uppercase;
  margin-bottom: 15px;
}
.notfound p {
  font-size: 17px;
  color: #000;
  text-transform: uppercase;
  max-width: 891px;
}
.notfound a {
  background: #0079e4;
  padding: 10px 20px;
  color: #fff;
  text-decoration: none;
  border-radius: 30px;
  margin-top: 15px;
  display: inline-block;
}
.notfound a:hover {
	color: #fff;
	background: #026cca;
}
.nav-logo ul li a div {
	display: flex;
	align-items: center;
	gap: 5px;
}
.nav-fade-up {
  -webkit-animation: fade-in .25s ease-in-out;
    animation: fade-in .25s ease-in-out;

}
@keyframes fade-in {
  0% {
    opacity: 0;
  } 
  100% {
    /* display: inline-block; */
    opacity: 1;
  }
}

.wallet-connect {
	display: flex;
	align-items: center;
	gap: 20px;
}
.connect-btn span:first-child {
	margin-top: 5px;
	margin-right: 10px;
}

.nav-active {
  color: rgb(81, 85, 166);
}
button.connect-btn p {
  margin: 0;
}
.home-div {
  color: rgb(223, 223, 233);
}
button.nav-three-dot svg {
  color: rgb(75, 81, 159);
}

/* the code below is for the dropdown heading */
.setting-description {
  background-color: #1c2028; 
  border-radius: 15px 15px 0px 0px;
  
  min-width: 231.5px;
  width: 100% !important;
  max-width: 483px;
}

h10 {
  font-size: 12px;
  margin-left: 5px !important;
  letter-spacing: 0.8px;
  font-family: Arial !important;
}

.setting-description-text {
  padding-top: 18px !important;
  color: #81828b;
  font-family: Gilroy-Regular !important;
}



/* the code below is for the dropdown heading */
.setting-description {
  background-color: #1c2028; 
  border-radius: 15px 15px 0px 0px;
  
  min-width: 231.5px;
  width: 100% !important;
  max-width: 483px;
}

h10 {
  font-size: 12px;
  margin-left: 5px !important;
  letter-spacing: 0.8px;
  font-family: Arial !important;
}

.setting-description-text {
  padding-top: 18px !important;
  color: #81828b;
  font-family: Gilroy-Regular !important;
}

/* the code below is for the dropdown menu */
.wrapper-dropdown {
  position: relative;
  display: inline-block;
  min-width: 231.5px;
  width: 100% !important;
  max-width: 483px;
  padding: 0px 0px 0px 0px;
  min-height: 44px;
  border-radius: 0px 0px 15px 15px;
  background: #1c2028;
  text-align: left;
  color: #fff;
  cursor: pointer;
  -webkit-user-select: none;
  -moz-user-select: none;
  -ms-user-select: none;
  user-select: none;
  margin-bottom: 20px;
  font-family: Arial;
}


.scrollable-menu {
  height: auto;
  max-height: 200px;
  overflow-x: hidden;
}

.bridgeArrow {
  margin-left: 10px;
  margin-right: 10px;
  float: right;
  /* rotate: 180deg; */
}

.selected-display {
  margin-left: 20px;
}

svg {
  transition: all 0.3s;
}

.wrapper-dropdown::before {
  position: absolute;
  top: 50%;
  right: 16px;

  margin-top: -2px;

  border-width: 6px 6px 0 6px;
  border-style: solid;
  border-color: #fff transparent;
}

.rotated {
  transform: rotate(-180deg);
}

.wrapper-dropdown .dropdown {
  transition: 0.3s;

  position: absolute;
  top: 120%;
  right: 0;
  left: 0;

  margin: 0;
  padding: 0;

  list-style: none;

  z-index: 99;

  border-radius: 15px;
  box-shadow: inherit;
  background: inherit;

  -webkit-transform-origin: top;
  -moz-transform-origin: top;
  -ms-transform-origin: top;
  transform-origin: top;

  -webkit-user-select: none;
  -moz-user-select: none;
  -ms-user-select: none;
  user-select: none;

  opacity: 0;
  visibility: hidden;
}

.wrapper-dropdown .dropdown li {
  padding: 0 15px;
  line-height: 45px;
  overflow: hidden;
}

.wrapper-dropdown .dropdown li:last-child {
  border-bottom: none;
}

.dropdown {
  padding: 0.5rem !important;
}

.wrapper-dropdown .dropdown li:hover {
  background-color: rgb(35, 40, 49);
  border-radius: 10px;
}

.wrapper-dropdown.active .dropdown {
  opacity: 1;
  visibility: visible;

  border-radius: 15px;
}


.cardWrapper {
  display: flex;
  justify-content: center;
}
.bridgeCard {
  display: flex;
  flex-direction: column;
  gap: 15px;
  max-width: 890px;
  width: 100%;
  border-radius: 25px;
  border: 1px solid rgba(255, 255, 255, 0.1);
  backdrop-filter: blur(7px);
}
.singleBridgeCard {
  height: auto;
  border-radius: 16px;
  padding: 32px 24px 32px 32px;
  transition: all 400ms ease 0s;
  outline: transparent solid 1px;
  box-sizing: border-box;
}
.cardTitle h2 {
  margin: 0;
  font-size: 24px;
  font-weight: 500;
  line-height: 1;
  transform: translateX(0px);
  color: white;
  outline: transparent solid 1px;
  margin-bottom: 16px;
  position: relative;
}
.cardTitle p {
  margin: 0;
  white-space: pre-wrap;
  font-size: 14px;
  font-weight: 300;
  line-height: 1.25;
}
.cardTitle h2 .cardTitleBefore {
  position: absolute;
  border: 2px solid rgba(255, 255, 255, 0.2);
  width: 28px;
  height: 28px;
  left: -45px;
  top: 50%;
  transform: translateY(-50%);
  border-radius: 50%;
  display: flex;
  justify-content: center;
  align-items: center;
  color: rgba(255, 255, 255, 0.3);
  font-size: 16px;
  font-weight: 600;
  font-family: Poppins;
  user-select: none;
}
.cardTitle h2 .cardTitleBefore.active {
  border: 2px solid rgb(36, 218, 181);
  color: rgb(36, 218, 181);
}
.singleBridgeFilds {
  display: flex;
  flex-direction: column;
}
.singleBridgeFilds span {
  display: inline-block;
  outline: transparent solid 1px;
  margin-bottom: 16px;
  user-select: none;
  opacity: 0.6;
  font-size: 14px;
  font-weight: 400;
  line-height: 1;
}
.cardTitle {
	margin-bottom: 40px;
}


.nftGrid {
  display: grid;
  grid-template-columns: repeat(4, 1fr);
  gap: 15px;
  position: relative;
}
.singleNftBox {
  background: rgba(71, 75, 163, 0.13);
  border: 1px solid rgba(255, 255, 255, 0.1);
  border-radius: 8px;
  cursor: pointer;
  position: relative;
  z-index: 99;
  transition: 0.3s ease;
}
.nftImage img {
  border-top-left-radius: 8px;
  border-top-right-radius: 8px;
}
.nftBoxContent h3 {
  margin: 0;
  color: #474ba3;
}
.nftBoxContent {
  padding: 15px;
}
.nftBoxContent h4 {
  margin-top: 7px;
  margin-bottom: 2px;
}
.nftBoxContent span {
  font-size: 12px;
}

.bridgeArrow {
  position: absolute;
  top: 5%;
  left: 44%;
  transform: rotate(270deg);
  rotate: unset;
}

.bridgeArrow span {
  display: block;
  width: 1.5vw;
  height: 1.5vw;
  border-bottom: 5px solid white;
  border-right: 5px solid white;
  transform: rotate(45deg);
  margin: -10px;
  animation: bridgeAnimate 2s infinite;
}

.bridgeArrow span:nth-child(2) {
  animation-delay: -0.2s;
}

.bridgeArrow span:nth-child(3) {
  animation-delay: -0.4s;
}

@keyframes bridgeAnimate {
  0% {
      opacity: 0;
      transform: rotate(45deg) translate(-20px, -20px);
  }
  50% {
      opacity: 1;
  }
  100% {
      opacity: 0;
      transform: rotate(45deg) translate(20px, 20px);
  }
}


.reviewBridgeFilds {
  display: flex;
  justify-content: space-between;
  align-items: center;
  position: relative;
}
.sinBridgeFind img {
  height: 45px;
  width: auto;
}
.sinBridgeFind span {
  display: inline-block;
}


.viewBridgeFilds {
  margin: 30px 0;
}
.viewBridgeFilds p {
  font-size: 15px;
}
.viewBridgeFilds p span {
  color: #474ba3;
  font-weight: 900;
  font-size: 18px;
}

.transferButton button {
	width: 100%;
	margin-top: 10px;
}

.chainIcon {
	width: 15px;
	height: 15px;
	object-fit: contain;
	margin-right: 8px;
	margin-bottom: -2px;
	border-radius: 50%;
}

.bridgeNetworks {
	display: grid;
	grid-template-columns: 47.5% 5% 47.5%;
	align-items: center;
}

.swapBtn {
  display: flex;
  justify-content: center;
  align-items: center;
  margin-top: 30px;
}
.swapBtn svg {
	font-size: 40px;
	border: 1px solid rgba(188, 190, 213, 0.24);
	border-radius: 50%;
	cursor: pointer;
}
.sinBridgeFind {
	display: flex;
	align-items: center;
	gap: 12px;
}
.nftRetriveBtn {
	display: flex;
	justify-content: center;
	margin-top: 30px;
}
.retriveButton button {
  width: 100%;
}
.singleNftBox.active {
  box-shadow: 0 0 30px #474ba3;
  position: relative;
}
.singleNftBox.active::before {
  content: "";
  position: absolute;
  top: -6px;
  right: -6px;
  width: 20px;
  height: 20px;
  border-radius: 50%;
  background: #555ac9;
  z-index: 9999;
  box-shadow: 0 0 5px #000;
}
.nav-logo ul li {
  margin: 0;
}
.header-wrapper {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
  padding: 10px 120px;
  position: relative;
}
.header-wrapper::before {
  -webkit-backdrop-filter: blur(3px);
  backdrop-filter: blur(3px);
  bottom: 0;
  content: "";
  overflow: hidden;
  position: absolute;
  right: 0;
  top: 0;
  width: 100%;
  z-index: -1;
}
.header-wrapper {
  border-bottom: 2px solid rgba(255, 255, 255, 0.25);
}
.header-wrapper::before {
  background: inherit;
  background-color: hsla(0,0%,100%,.025);
  box-shadow: 0 0 2px rgba(0,0,0,.25),inset 0 0 2px 0 #fff;
  -webkit-filter: blur(10px);
  filter: blur(10px);
}
.mint {
  width: 100%;
  height: 100%;
}

.singleMintCard {
  background: rgba(71, 75, 163, 0.04);
  border: 1px solid rgba(255, 255, 255, 0.1);
  height: auto;
  border-radius: 16px;
  padding: 32px 30px 32px 30px;
  transition: all 400ms ease 0s;
  outline: transparent solid 1px;
  box-sizing: border-box;
  backdrop-filter: blur(7px);
}

.mintWrapper {
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  gap: 55px;
  align-items: center;
}

.mintWrapper .nftImage {
  padding: 50px;
}

.contentTitle {
  margin-bottom: 20px;
}

.contentTitle > span {
  font-size: 17px;
  margin-bottom: 7px;
  display: inline-block;
  color: rgb(188, 190, 213);
}

.contentTitle h2 {
  font-size: 50px;
  color: rgb(223, 223, 233);
}

.contentTitle h2 span {
  color: #45f882;
}

.contentTitle div {
  display: flex;
  flex-wrap: wrap;
  gap: 20px;
}

.contentTitle div p {
  font-size: 15px;
  color: rgb(188, 190, 213);
}

.mintSupply {
  display: inline-block;
  width: 220px;
  padding: 8px 0 8px 18px;
  margin-bottom: 20px;
  background: #9a1d1d12;
  border-top-right-radius: 10px;
  border-bottom-right-radius: 10px;
  position: relative;
}

.mintSupply h4 {
  font-size: 14px;
  color: #c7b7b7;
  margin-bottom: 5px;
}

.mintSupply span {
  font-size: 16px;
  color: rgb(188, 190, 213);
}

.mintSupply::after {
  content: "";
  position: absolute;
  left: 0;
  top: 0;
  width: 5px;
  height: 100%;
  background: #d82222;
}



.css-12lez3m {
  background-color: #ffffff0d !important;
  backdrop-filter: blur(10px) !important;
  box-shadow: none !important;
}



.custom-loader {
  width: 50px;
  height: 50px;
  display: grid;
  border:4px solid #0000;
  border-radius: 50%;
  border-color:#E4E4ED #0000;
  animation: s6 1s infinite linear;
}
.custom-loader::before,
.custom-loader::after {    
  content:"";
  grid-area: 1/1;
  margin:2px;
  border:inherit;
  border-radius: 50%;
}
.custom-loader::before {
  border-color:#766DF4 #0000;
  animation:inherit; 
  animation-duration: .5s;
  animation-direction: reverse;
}
.custom-loader::after {
  margin:8px;
}

@keyframes s6 { 
  100%{transform: rotate(1turn)}
}

.nftImageText {
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin: 5px 0;
}

.mintBtn button {
  width: 100%;
}

.nftGridBox {
  display: flex;
  flex-wrap: wrap;
  gap: 0 17px;
}

.centerLoader {
  position: absolute;
  left: 50%;
  top: 50%;
  transform: translate(-50%, -50%);
}

#bridgeFildHideOne {
  display: none;
  transition: .3s ease;
  height: 0;
  visibility: hidden;
  opacity: 0;
}
#bridgeFildHideTwo {
  display: none;
  transition: .3s ease;
  height: 0;
  visibility: hidden;
  opacity: 0;
}

.nftImageText div {
  font-size: 18px;
  padding: 8px 0 15px 0;
}

.bridgeCard > h1 {
  font-size: 28px;
  margin: auto;
  padding: 25px 0 0 0;
}

.iekbcc0.ju367va.ju367v1n button {
  text-align: center;
}
.nft-wrapper {
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  align-items: center;
  gap: 21px;
}
label.single-nft-box input {
  position: absolute;
  z-index: -9999999;
  visibility: hidden;
}

label.single-nft-box input {
  position: absolute;
  z-index: -9999999;
  left: -9999999999;
  /* visibility: hidden; */
}

label.single-nft-box {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 17px 10px;
  background: #ffffff0d;
  -webkit-backdrop-filter: blur(7px);
  backdrop-filter: blur(26px);
  border-radius: 12px;
  cursor: pointer;
}

.left-side-nft-box {
  display: flex;
  align-items: center;
  gap: 10px;
}

.left-side-nft-box img {
  width: 55px;
  height: 55px;
  border-radius: 13px;
}

.left-side-nft-box span {
  font-weight: 700;
  color: #d7dcf5;
}



label.single-nft-box span:before {
  content: "";
  position: absolute;
  top: 7px;
  right: 3px;
  background-color: #ffffff12;
  width: 1.5em;
  height: 1.5em;
  border-radius: 50%;
  margin-right: 0.375em;
  transition: 0.25s ease;
  box-shadow: inset 0 0 0 0.125em #7777d7;
}


label input:checked ~ span:before {
  box-shadow: inset 0 0 0 0.4375em #7777d7;
}

label input:checked ~ p {
  border: 2px solid #337edb;
}

label p.label-border {
  position: absolute;
  left: 0;
  right: 0;
  top: 0;
  width: 100%;
  height: 100%;
  border-radius: 12px;
}

.single-b-d-row {
  display: flex;
  justify-content: space-between;
  align-items: center;
  text-transform: uppercase;
}

.single-b-d-row:not(:last-child) {
  margin-bottom: 8px;
}
.bridge-t-button button {
  width: 100%;
}
.kfjldsfjkjfkdsl {
  display: flex;
  align-items: center;
  gap: 5px;
}
.nftImage img {
  margin-bottom: 21px;
}
.overlay {
  position: fixed;
  top: 0;
  left: 0;
  height: 100%;
  width: 100%;
  background-color: rgba(0,0,0,0.3);
  backdrop-filter: blur(7px);
  z-index: 99;
}

.transfer-modal {
  position: fixed;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  width: 400px;
  height: 400px;
  background: url(../public/LoadingGIF.gif);
  background-position: center center;
  background-size: cover;
  background-repeat: no-repeat;
  z-index: 99999;
  border-radius: 12px;
  box-shadow: 0 1px 25px rgba(255, 255, 255, 0.2);
}
.transfer-modal-wrapper {
  position: relative;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  gap: 15px;
  height: 100%;
}

.transfer-modal-wrapper svg {
  position: absolute;
  top: 10px;
  right: 10px;
  z-index: 999999;
  cursor: pointer;
}

.transfer-modal-wrapper .content-text {
  margin: 0;
  text-transform: capitalize;
  font-size: 22px;
}

.transfer-modal-wrapper .content-text-p {
  margin: 0;
  margin-bottom: 10px;
  display: inline-block;
}
